@protolambda @tynes @ajsutton @sebastianst @mslipper

batcher.md @sebastianst @trianglesphere @ethereum-optimism/security-reviewers
bridges.md @tynes @ethereum-optimism/security-reviewers
deposits.md @protolambda @tynes @ethereum-optimism/security-reviewers
derivation.md @protolambda @trianglesphere @ethereum-optimism/security-reviewers
exec-engine.md @sebastianst @trianglesphere @ethereum-optimism/security-reviewers
# glossary.md
guaranteed-gas-market.md @tynes @ethereum-optimism/security-reviewers
# introduction.md
messengers.md @tynes @ethereum-optimism/security-reviewers
# overview.md
predeploys.md @tynes @ethereum-optimism/security-reviewers
proposals.md @ajsutton @clabby @tynes @ethereum-optimism/security-reviewers
rollup-node-p2p.md @sebastianst @trianglesphere @ethereum-optimism/security-reviewers
rollup-node.md @sebastianst @trianglesphere @ethereum-optimism/security-reviewers
safe-liveness-checking.md @ethereum-optimism/security-reviewers
span-batches.md @sebastianst @trianglesphere @ethereum-optimism/security-reviewers
superchain-configuration.md @protolambda @tynes @ethereum-optimism/security-reviewers
superchain-upgrades.md @protolambda @tynes @ethereum-optimism/security-reviewers
system_config.md @sebastianst @trianglesphere @ethereum-optimism/security-reviewers
withdrawals.md @tynes @clabby @ethereum-optimism/security-reviewers

# Fault Proofs
/specs/experimental/fault-proof @ajsutton @clabby @inphi @refcell @ethereum-optimism/security-reviewers
