<footer class="op-footer"></footer>
    <div class="op-footer-container">
        <div class="op-footer-content">
            <div class="op-footer-links">
                <a href="https://optimism.io/community-agreement">Community Agreement</a>
                <a href="https://optimism.io/terms">Terms of Service</a>
                <a href="https://optimism.io/data-privacy-policy">Privacy Policy</a>
            </div>
            <div class="op-footer-copyright">
                © {{ year }} Optimism Foundation. All rights reserved.
            </div>
        </div>
    </div>
</footer>